*.class
*.war
*.ear
.classpath
.project
*.sh
*.lex
.DS_Store
.settings/
classes/
icon/
work/
image/
work/
tmp/
build/
.gradle/
.idea/
target/
bin/
*.iml
production/
jcseg-core/
nohup.out
*.log
out/

queue.properties
arangodb.properties
db.properties
analysis.properties
document-item.properties
word-item.properties
spider.properties
upyun.properties
Gateway/src/main/webapp/WEB-INF/lib
Backend/src/main/webapp/WEB-INF/lib
